* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ECF2F8;
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}